@model IEnumerable<Forum.Entities.Forums>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
Välkommen till forumet.
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="row">
                <div class="col-lg-12">
                    <div class="well">
                        @Html.ActionLink(Html.DisplayFor(modelItem => item.Category).ToHtmlString(), "Index", "Threads")
                    </div>
                </div>
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
